*,
*::after,
*::before {
  box-sizing: border-box;
}

/* html {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--azul-marino);
} */
@font-face {
  font-family: "Burgundia";
  src: url("/fonts/Burgundia.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --step--2: clamp(0.7rem, calc(0.87rem + -0.14vw), 0.84rem);
  --step--1: clamp(0.94rem, calc(0.95rem + -0.01vw), 0.94rem);
  --step-0: clamp(1.06rem, calc(1.03rem + 0.19vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.1rem + 0.47vw), 1.67rem);
  --step-2: clamp(1.35rem, calc(1.17rem + 0.88vw), 2.22rem);
  --step-3: clamp(1.51rem, calc(1.22rem + 1.45vw), 2.96rem);
  --step-4: clamp(1.7rem, calc(1.25rem + 2.25vw), 3.95rem);
  --step-5: clamp(1.91rem, calc(1.25rem + 3.35vw), 5.26rem);
  --step-6: clamp(2.15rem, calc(1.18rem + 4.86vw), 7.01rem);
  --blanco: #fff;
  --negro: #000;
  --gris: #808080;
  --azul-marino: #02002e;
}
img {
  max-width: 100%;
  height: auto;
}
.subrayado {
  text-decoration: underline;
}

/* Contenido interno */
.content-img {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.content-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 300px;
}

.estudio-contable-desc {
  display: flex;
  flex-direction: column;
  color: white;
  letter-spacing: 0.3px;
  margin: 7rem 7rem 1rem 7rem;
}
body {
  font-family: "Garamond", serif;
  font-size: 1.5rem;
}
.img-whatsapp {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.whatsapp {
  width: 12rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.whatsapp:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.instagram {
  width: 2.5rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.instagram:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.tiktok {
  width: 2.4rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.tiktok:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.youtube {
  width: 2.4rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin-left: 5px;
}
.youtube:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.facebook {
  width: 3rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.facebook:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.titulo {
  color: var(--blanco);
  font-size: var(--step-6);
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Burgundia", serif;
}
li {
  margin: 0.5rem;
  font-size: 2rem;
  color: white;
}
/* Contenido del modal */
.modal-contenido {
  background-color: #fff;
  margin: 10% auto;
  padding: 40px;
  width: 80%;
  max-width: 700px;
  position: relative;
  color: black;
}

/* Botón cerrar (X) */
.cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 48px;
  color: gray;
  cursor: pointer;
}
.boton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
}
.texto {
  flex: 1;
  list-style-type: none;
  padding: 0;
  font-size: 1.2rem !important;
}
.boton-descarga {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.capacitacion-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  color: white;
}
