*,
*::after,
*::before {
  box-sizing: border-box;
}

/* html {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--azul-marino);
} */

img {
  max-width: 100%;
  height: auto;
}
.subrayado {
  text-decoration: underline;
}

/* Contenido interno */
.content-img {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.content-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 300px;
}

.estudio-contable-desc {
  display: flex;
  flex-direction: column;
  color: white;
  letter-spacing: 0.3px;
  margin: 7rem 7rem 1rem 7rem;
}
body {
  font-family: "Garamond", serif;
  font-size: 1.5rem;
}

li {
  margin: 0.5rem;
  font-size: 2rem;
  color: white;
}
.boton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
}
.texto {
  flex: 1;
  list-style-type: none;
  padding: 0;
}
.boton-descarga {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.capacitacion-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  align-items: center;
  border-radius: 8px;
  overflow: hidden;
  color: white;
}
