@font-face {
  font-family: "Burgundia";
  src: url("/fonts/Burgundia.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --step--2: clamp(0.7rem, calc(0.87rem + -0.14vw), 0.84rem);
  --step--1: clamp(0.94rem, calc(0.95rem + -0.01vw), 0.94rem);
  --step-0: clamp(1.06rem, calc(1.03rem + 0.19vw), 1.25rem);
  --step-1: clamp(1.2rem, calc(1.1rem + 0.47vw), 1.67rem);
  --step-2: clamp(1.35rem, calc(1.17rem + 0.88vw), 2.22rem);
  --step-3: clamp(1.51rem, calc(1.22rem + 1.45vw), 2.96rem);
  --step-4: clamp(1.7rem, calc(1.25rem + 2.25vw), 3.95rem);
  --step-5: clamp(1.91rem, calc(1.25rem + 3.35vw), 5.26rem);
  --step-6: clamp(2.15rem, calc(1.18rem + 4.86vw), 7.01rem);
  --blanco: #fff;
  --negro: #000;
  --gris: #808080;
  --azul-marino: #02002e;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Garamond", serif;
  background-color: #02002e !important;
}

main {
  flex: 1;
  padding: 40px;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  background-color: var(--blanco);
  height: 120px;
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.header > div {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.decoration {
  text-decoration: none;
}
.contenedor-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contenedor-header img {
  width: 4.5rem;
  margin-right: 1rem;
}

.contenedor-header h3 {
  color: var(--negro);
  font-size: 1.5rem;
  padding-right: 1rem;
  font-family: "DMSans";
  margin: 0;
}

.contenedor-header h3:hover {
  transform: scale(1.1);
  color: #ffffff;
  text-shadow: 0 0 5px #0b3a66, 0 0 10px #09355e, 0 0 15px #052e53,
    0 0 20px #083056;
  transition: all 0.3s ease;
}

.img-whatsapp {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.whatsapp {
  width: 12rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.whatsapp:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.instagram {
  width: 2.5rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.instagram:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.tiktok {
  width: 2.4rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.tiktok:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.youtube {
  width: 2.4rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin-left: 5px;
}
.youtube:hover {
  transform: scale(1.1);
  opacity: 0.8;
}
.facebook {
  width: 3rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.facebook:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.titulo {
  color: var(--blanco);
  font-size: var(--step-6);
  margin-bottom: 2rem;
  text-align: center;
  font-family: "Burgundia", serif;
  font-feature-settings: "ss06" 1;
  font-weight: bolder;
}

.container {
  max-width: 1400px;
  /* height: 100vh; */
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
  box-sizing: border-box;
}

.margin-top-home {
  margin-top: 11rem;
}

.margin-top {
  margin-top: 8rem;
}

.content-links {
  display: flex;
  justify-content: center;
  gap: 6rem;
  text-align: center;
  font-family: "Burgundia", serif;
  font-size: var(--step-2);
}

.content-links img {
  width: 32rem;
  border-radius: 1rem;
  height: 20rem;
  border: medium solid var(--blanco);
}

.card {
  display: flex;
  flex-direction: column;
  color: white;
}

/* Fondo del modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Contenido del modal */
.modal-contenido {
  background-color: #fff;
  margin: 10% auto;
  padding: 40px;
  width: 80%;
  max-width: 700px;
  position: relative;
  color: black;
}

/* Botón cerrar (X) */
.cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 48px;
  color: var(--gris);
  font-weight: normal;
  cursor: pointer;
}

footer {
  background-color: var(--blanco);
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center !important;
  gap: 1rem;
  margin-top: 1.5rem;
}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
}

.footer-links a {
  color: var(--negro);
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "DM Sans", sans-serif;
}

.footer-links a:hover {
  color: var(--azul-marino);
}

.footer-copy {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.footer-copy img {
  width: 2.5rem;
  height: auto;
  margin-right: 0.5rem;
}

@media (max-width: 1200px) {
  .content-links {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (min-width: 765px) {
  .header {
    justify-content: start;
    width: 100%;
  }

  .header > div {
    flex-direction: row;
    justify-content: space-between;
  }

  .contenedor-header h3 {
    border-right: medium solid var(--negro);
    font-size: 1.8rem;
  }

  footer {
    justify-content: space-between;
  }
}
